/*
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 */

/* ---- Base Rules ---- */

/* Basic body styling including background and font */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Typography rules */
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

/* ---- Layout Rules ---- */

/* Main layout padding and margins */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles */
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center; /* Center align navigation items */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar__menu li {
    margin: 0 1rem;
}

.navbar__menu .menu__link {
    display: block;
    padding: 2vh 2vw;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none; /* remove underline */
    color: #fff;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar__menu .menu__link:hover {
    background: #2538a3; /* background on hover */
    color: #fff;
    transform: translateY(-5px); /* Hover effect with a slight lift */
}

.navbar__menu .menu__link.active {
    color: #8bd4ec;
}

.page__header {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow under navbar */
    padding: 1rem 0;
}

/* Change background on hover */
.page__header:hover {
    background: rgba(0, 0, 0, 0.9); /* Darker background on hover */
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
    color: #eee; /* Default text color */
}

/* Section Active Styles */
section.your-active-class {
    background-color: #222; /* Dark background for active section */
}

section.your-active-class .landing__container {
    color: #fff; /* Change text color for active section */
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */

/* Background circles with pseudo-elements */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */

/* Section transition when active, background gradient change */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Animation for rotating circles */
section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Keyframe for rotating animation of circles */
@keyframes rotate {
    from {
        transform: rotate(0deg)
            translate(-1em)
            rotate(0deg);
    }
    to {
        transform: rotate(360deg)
            translate(-1em)
            rotate(-360deg);
    }
}

/* Back to top button styles */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(136,203,171);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Hidden by default */
    transition: opacity 0.3s ease;
}

#backToTop:hover {
    background-color: #2538a3;
}

/* show button when scrolled down */
#backToTop.show {
    display: block;
}

/* Media Queries */

/* For medium screen */
@media only screen and (min-width: 35em) {
    .navbar__menu li {
        margin: 0 2rem; /* increase space between links */
    }

    .landing__container {
        max-width: 50em;
        padding: 4em;
    }

    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }

    h2 {
        border-bottom: 1px solid #cc1;
        font-family: 'Oxygen', Sans-Serif;
        font-size: 3em;
        color: #fff;
    }

    p {
        line-height: 1.6em;
        color: #eee;
    }
}

/* For small screen */
@media only screen and (max-width: 768px) {
    .navbar__menu .menu__link {
        font-size: 0.8rem; 
        padding: 0.7em;   
    }
}

@media only screen and (max-width: 480px) {
    .navbar__menu .menu__link {
        font-size: 0.7rem; 
        padding: 0.5em;  
    }
}
